<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiSMS.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiSMS.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script defer>
        $(document).ready(function () {
            $('#master-card-headers a').on('click', function (e) {
                $(".active-tab").removeClass("active-tab");
                e.preventDefault();
                $(this).tab('show');
                $(this).parent().toggleClass("active-tab")
            });
        });
    </script>

</head>
<body>
    <div class="container-fluid main-window">
        <div class="layout-header">
            <header class="app-header">
                <nav class="navbar navbar-light box-shadow">
                    <div class="container-fluid" style="padding:0px;">
                        <div class="nav-left-logo">
                            <span class="logo-icon"><img src="" /></span>
                            <span class="logo-text" style="padding-left:20px;">Multi-SMS</span>
                        </div>
                        <div class="account-settings d-sm-inline-flex justify-content-between">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="layout-content">
            <div class="toolbar-left">
                <div class="toolbar-body">
                    <ul class="options-list-left nav" id="master-card-headers" role="list">
                        <li class="option-list-item active-tab">
                            <a class="link show active" id="sendSms" href="#send-sms">
                                <span class="icon" id="sms-icon"><img src="~/icons/send-sms.png" /></span>
                                <span class="text-nav" id="sms-text">Wyslij SMS</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="templates-tab" href="#templates">
                                <span class="icon"><img src="~/icons/template.png" /></span>
                                <span class="text-nav">Szablony</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="contacts-tab" href="#contacts">
                                <span class="icon"><img src="icons/contacts.png" /></span>
                                <span class="text-nav">Kontakty</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="groups-tab" href="#groups">
                                <span class="icon"><img src="icons/groups.png" /></span>
                                <span class="text-nav">Grupy</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="roles-tab" href="#roles">
                                <div class="icon"><img src="~/icons/roles.png" /></div>
                                <span class="text-nav">Role</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="logs-tab" href="#logs">
                                <span class="icon"><img src="~/icons/logs.png" /></span>
                                <span class="text-nav">Logi</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layout-render-body">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
