@using Microsoft.AspNetCore.Identity
@using MultiSMS.Interface.Entities

@inject UserManager<Administrator> UserManager
@inject SignInManager<Administrator> SignInManager

@{
    var user = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/icons/title.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiSMS.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>

    <script defer>
        $(document).ready(function () {
            $('#master-card-headers a').on('click', function (e) {
                $(".active-tab").removeClass("active-tab");
                e.preventDefault();
                $(this).tab('show');
                $(this).parent().toggleClass("active-tab");
            });
            
            $('#settings-card-headers a').on('click', function (e) {
                $(".active-tab").removeClass("active-tab");
                //e.preventDefault();
                $(this).tab('show');
                $(this).parent().toggleClass("active-tab");
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid main-window" style="display:flex; justify-content: center; align-items: center; flex-direction: column; padding:0px; ">
        <div class="layout-header">
            <header class="app-header">
                <nav class="navbar navbar-light box-shadow" id="main-header">
                    <div class="container-fluid" style="padding:0px;">
                        <div class="nav-left-logo">
                            <a href="~/" class="home-link" style="text-decoration:none; color: white; margin-left:30px;">
                                <span class="logo-icon"><img src="" /></span>
                                <span class="logo-text" style="margin-left:10px;">Multi-SMS</span>
                            </a>
                        </div>
                        <div class="account-settings justify-content-between">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="layout-content">
            <div class="toolbar-left-main toolbar-left" id="toolbar">
                <div class="toolbar-body">
                    <ul class="options-list-left nav" id="master-card-headers" role="list">
                        <li class="option-list-item active-tab">
                            <a class="link show active" id="sendSms" href="#send-sms">
                                <span class="icon" id="sms-icon"><img src="~/icons/send-sms.png" title="Wyślij SMS"/></span>
                                <span class="text-nav" id="sms-text">Wyslij SMS</span>
                            </a>
                        </li>
                        @if(roles.Contains("Administrator") || roles.Contains("Owner"))
                        {
                            <li class="option-list-item">
                                <a class="link" id="templates-tab" href="#templates">
                                    <span class="icon"><img src="~/icons/template.png" title="Szablony" /></span>
                                    <span class="text-nav">Szablony</span>
                                </a>
                            </li>
                            <li class="option-list-item">
                                <a class="link" id="contacts-tab" href="#contacts">
                                    <span class="icon"><img src="~/icons/contacts.png" title="Kontakty" /></span>
                                    <span class="text-nav">Kontakty</span>
                                </a>
                            </li>
                            <li class="option-list-item">
                                <a class="link" id="groups-tab" href="#groups">
                                    <span class="icon"><img src="~/icons/groups.png" title="Grupy" /></span>
                                    <span class="text-nav">Grupy</span>
                                </a>
                            </li>
                            <li class="option-list-item">
                                <a class="link" id="logs-tab" href="#logs">
                                    <span class="icon"><img src="~/icons/logs.png" title="Logi" /></span>
                                    <span class="text-nav">Logi</span>
                                </a>
                            </li>
                            <li class="option-list-item">
                                <a class="link" id="users-tab" href="#users">
                                    <span class="icon"><img src="~/icons/users.png" title="Użytkownicy" /></span>
                                    <span class="text-nav">Użytkownicy</span>
                                </a>
                            </li>
                            <li class="option-list-item">
                                <a class="link" id="settings-tab" href="#settings">
                                    <span class="icon"><img src="~/icons/settings.png" title="Ustawienia" /></span>
                                    <span class="text-nav">Ustawienia</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="toolbar-left-user-settings toolbar-left" id="toolbar-user-settings" style="display:none; height:100%;">
                <div class="toolbar-body">
                    <ul class="options-list-left options-user-settings nav" id="settings-card-headers" role="list">
                        <li class="option-list-item active-tab">
                            <a class="link show active" id="profile" href="./UserSettings">
                                <span class="icon" id="profil-icon"><img src="~/icons/profile.png" /></span>
                                <span class="text-nav" id="profile-text">Profil</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="email-tab" href="./Email">
                                <span class="icon"><img src="~/icons/email.png" /></span>
                                <span class="text-nav">Email</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="password-tab" href="./ChangePassword">
                                <span class="icon"><img src="~/icons//password.png" /></span>
                                <span class="text-nav">Hasło</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layout-render-body" id="content-render" style="margin-left:50px;">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
