<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiSMS.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiSMS.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    
  
    <script defer>

        function isElementVisible(element) {
            var style = window.getComputedStyle(element);
            return style.display !== 'none' && style.visibility !== 'hidden';
        }

        $(document).ready(function () {
            $(".dropdown-list").hide();
            
            $("#sms-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-sms")
                if (isElementVisible(element)){
                    $("#dropdown-list-sms").hide();
                }
                else{
                    $("#dropdown-list-sms").show();
                }
            });

            $("#contacts-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-contacts")
                if (isElementVisible(element)) {
                    $("#dropdown-list-contacts").hide();
                }
                else {
                    $("#dropdown-list-contacts").show();
                }
            });

            $("#group-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-group")
                if (isElementVisible(element)) {
                    $("#dropdown-list-group").hide();
                }
                else {
                    $("#dropdown-list-group").show();
                }
            });

            $("#role-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-role")
                if (isElementVisible(element)) {
                    $("#dropdown-list-role").hide();
                }
                else {
                    $("#dropdown-list-role").show();
                }
            });

            $(".navbar-toggler").click(function () {
                $("#nav-left").modal("show");
            });  

            $(".close").click(function () {
                $("#nav-left").modal("hide");
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid main-window">
        <div class="layout-header">
            <header class="app-header">
                <nav class="navbar navbar-light box-shadow">
                    <div class="container-fluid">
                        <div class="nav-left-logo">
                            <span class="logo-icon"><img src="" /></span>
                            <span class="logo-text" style="padding-left:20px;">Multi-SMS</span>
                        </div>
                        <div class="account-settings d-sm-inline-flex justify-content-between">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="layout-content">
            <div class="toolbar-left">
                <div class="toolbar-body">
                    <ul class="options-list-left" id="master-card-header" role="list">
                        <li class="option-list-item active-tab">
                            <a class="link active" id="sendSms" href="#send-sms">
                                <span class="icon" id="sms-icon"><img src="icons/envelope.png" /></span>
                                <span class="text-nav" id="sms-text">Wyslij SMS</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="templates" href="#templates">
                                <span class="icon"><img src="~/icons/template.png" /></span>
                                <span class="text-nav">Szablony</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="contacts" href="#contacts">
                                <span class="icon"><img src="icons/book-bookmark.png" /></span>
                                <span class="text-nav">Kontakty</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="groups" href="#groups">
                                <span class="icon"><img src="icons/group.png" /></span>
                                <span class="text-nav">Grupy</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="roles" href="#roles">
                                <div class="icon"><img src="~/icons/briefcase.png" /></div>
                                <span class="text-nav">Role</span>
                            </a>
                        </li>
                        <li class="option-list-item">
                            <a class="link" id="logs" href="#logs">
                                <span class="icon"><img src="~/icons/search-alt.png" /></span>
                                <span class="text-nav">Logi</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layout-render-body">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
