<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiSMS.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiSMS.MVC.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    

    <style>
		.modal.left .modal-dialog{
			position: fixed;
			margin: auto;
			width: 320px;
			height: 100%;
		}

		.modal.left .modal-content{
			height: 100%;
			overflow-y: auto;
		}

		.modal.left .modal-body{
			padding: 15px 15px 15px;
		}

		.modal.left.fade.in .modal-dialog {
			left: 0;
		}
        .options-list-left{
            list-style-type: none;
        }
        .dropdown-list{
            list-style-type: none;
            padding-left: 0px;
        }
        .dropdown-toggle:hover{
            text-decoration: none;
            border: 1px solid black;
            background-color: #f8f9fa;
        }
        .dropdown-toggle:active{
            background-color: #a5eaff;
        }    
        .option-list-item:hover{
            border: 1px solid black;
            background-color: #f8f9fa;
        }

        .option-list-item:active{
            background-color: #a5eaff;
        }
        .dropdown-toggle{
            border: 1px solid transparent;
            width:100%;
            padding: 3px;
            padding-left:0px;
            display: block;
        }
        .link{
            width:100%;
        }
        .text-nav{
            color:black;
            font-weight: 600;
            font-size: 20px;
            font-family: 'Noto Sans'
        }
        .text-nav-dropdown{
            color: black;
            font-family: sans-serif;
            font-weight: 500;
            font-size: 18px;
            
        }
        .link:link{
            text-decoration: none;
        }
        .link:visited{
            text-decoration: none;
        }
        .option-list-item:hover{
            text-decoration: none;
            border: 1px solid black;
            padding: 3px;
        }
        .option-list-item{
            border: 1px solid transparent;
            padding: 3px;
        }
        .link:active{
            text-decoration:none;
        }
        .link:hover{
            text-decoration:none;
        }
        .option-list-dropdown{
            padding: 3px;
        }
        .dropdown-item:hover{
            text-decoration:none;
            border: 1px solid black;
        }
        .dropdown-item{
            border: 1px solid transparent;
        }
        .dropdown-item:active {
            background-color: #a5eaff;
        }

        }

    </style>
    <script defer>

        function isElementVisible(element) {
            var style = window.getComputedStyle(element);
            return style.display !== 'none' && style.visibility !== 'hidden';
        }

        $(document).ready(function () {
            $(".dropdown-list").hide();
            
            $("#sms-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-sms")
                if (isElementVisible(element)){
                    $("#dropdown-list-sms").hide();
                }
                else{
                    $("#dropdown-list-sms").show();
                }
            });

            $("#contacts-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-contacts")
                if (isElementVisible(element)) {
                    $("#dropdown-list-contacts").hide();
                }
                else {
                    $("#dropdown-list-contacts").show();
                }
            });

            $("#group-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-group")
                if (isElementVisible(element)) {
                    $("#dropdown-list-group").hide();
                }
                else {
                    $("#dropdown-list-group").show();
                }
            });

            $("#role-dropdown-toggle").click(function () {
                var element = document.getElementById("dropdown-list-role")
                if (isElementVisible(element)) {
                    $("#dropdown-list-role").hide();
                }
                else {
                    $("#dropdown-list-role").show();
                }
            });

            $(".navbar-toggler").click(function () {
                $("#nav-left").modal("show");
            });  

            $(".close").click(function () {
                $("#nav-left").modal("hide");
            });
        });
    </script>
</head>
<body>
    <div class="modal fade left" id="nav-left" tabindex="-1" role="dialog" aria-labelledby="leftNavbar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="nodal-title" id="nav-left-header-title" style="margin: 0">MultiSMS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <ul class="options-list-left" style="padding-left:0px;">
                        <li class="option-list-item">
                            <a class="link" id="home" href="#">
                                <span class="icon" id="home-icon"><img src="" /></span>
                                <span class="text-nav" id="home-text">Strona startowa</span>
                            </a>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="sms-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="sms-icon"><img src="" /></span>
                                <span class="text-nav" id="sms-text">SMS</span>
                            </a>
                            <ul class="dropdown-list" id="dropdown-list-sms">
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Wyślij wiadomość SMS</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Przeglądaj logi</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Przeglądaj szablony</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Dodaj szablon</span>
                                    </a>
                                </li>
                                 <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Edytuj szablon</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Usuń szablon</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="contacts-dropdown-toggle" onclick="" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="contacts-icon"><img src="" /></span>
                                <span class="text-nav" id="contacts-text">Listy kontaktów</span>
                            </a>
                            <ul class="dropdown-list" id="dropdown-list-contacts">
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Przeglądaj kontakty</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Dodaj kontakt</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Edytuj kontakt</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Usuń kontakt</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="group-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="group-icon"><img src="" /></span>
                                <span class="text-nav" id="group-text">Grupy</span>
                            </a>
                            <ul class="dropdown-list" id="dropdown-list-group">
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text-nav-dropdown" >Przeglądaj grupy</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text-nav-dropdown">Dodaj grupę</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text-nav-dropdown">Edytuj grupę</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text-nav-dropdown">Usuń grupę</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="role-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon"><img src="" /></span>
                                <span class="text-nav">Role</span>
                            </a>
                            <ul class="dropdown-list" id="dropdown-list-role">
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Przeglądaj role</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Dodaj role</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Edytuj role</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text-nav-dropdown">Usuń role</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="app-header">
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="nav-left-toggle">
                    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#nav-left">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="navbar-brand" style="padding-left:20px; padding-top:5px;">MultiSMS</span>
                </div>
                <div class="account-settings d-sm-inline-flex justify-content-between">
                 <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
