<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiSMS.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiSMS.MVC.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    

    <style>
		.modal.left .modal-dialog{
			position: fixed;
			margin: auto;
			width: 320px;
			height: 100%;
			-webkit-transform: translate3d(0%, 0, 0);
			    -ms-transform: translate3d(0%, 0, 0);
			     -o-transform: translate3d(0%, 0, 0);
			        transform: translate3d(0%, 0, 0);
		}

		.modal.left .modal-content{
			height: 100%;
			overflow-y: auto;
		}

		.modal.left .modal-body{
			padding: 15px 15px 80px;
		}

		.modal.left.fade.in .modal-dialog {
			left: 0;
		}
        .options-list-left{
            list-style-type: none;
        }
        .dropdown-list{
            list-style-type: none;
            padding-left: 0px;
        }
        .dropdown-toggle{
            padding:3px;
        }

        .link{
            width:100%;
        }
        .text{
            color:black;
        }
        .link:link{
            text-decoration: none;
        }
        .link:visited{
            text-decoration: none;
        }
        .option-list-item:hover{
            text-decoration: none;
            border: 1px solid black;
            padding: 3px;
        }
        .option-list-item{
            border: 1px solid transparent;
            padding: 3px;
        }
        .link:active{
            text-decoration:none;
        }
        .link:hover{
            text-decoration:none;
        }


        /* Add margin to move remaining elements down when dropdown is open */
        .options-list-left.show-dropdown .option-list-item {
            margin-top: 40px; /* Adjust the value as needed */
        }

    </style>
    <script defer>
        $(document).ready(function () {

            document.addEventListener('DOMContentLoaded', function () {
                var dropdownToggle = document.querySelector('.options-list-dropdown .dropdown-toggle');
                var optionsList = document.querySelector('.options-list-item');

                dropdownToggle.addEventListener('click', function () {
                    optionsList.classList.toggle('show-dropdown');
                });
            });
            

            $(".navbar-toggler").click(function () {
                $("#nav-left").modal("show");
            });  
        });
    </script>
</head>
<body>
    <div class="modal left fade" id="nav-left" tabindex="-1" role="dialog" aria-labelledby="leftNavbar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="nodal-title" id="nav-left-header-title" style="margin: 0">MultiSMS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <ul class="options-list-left" style="padding-left:0px;">
                        <li class="option-list-item">
                            <a class="link" id="home" href="#">
                                <span class="icon" id="home-icon"><img src="" /></span>
                                <span class="text" id="home-text">Strona startowa</span>
                            </a>
                        </li>

                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="users-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="users-icon"><img src="" /></span>
                                <span class="text" id="users-text">Użytkownicy</span>
                            </a>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" id="users-dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text">Panel sterowania</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="users-dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text">Zarządzaj użytkownikami</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="group-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="group-icon"><img src="" /></span>
                                <span class="text" id="group-text">Grupy</span>
                            </a>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" id="group-dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text" >Panel sterowania</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="group-dropdown-item">
                                        <span class="icon" ><img src="" /></span>
                                        <span class="text" >Zarządzaj grupami</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option-list-dropdown">
                            <a class="dropdown-toggle" id="role-dropdown-toggle" href="#" role="button" aria-expanded="false">
                                <span class="icon" id="role-icon"><img src="" /></span>
                                <span class="text" id="role-text">Role</span>
                            </a>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" id="group-dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text">Panel sterowania</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="group-dropdown-item">
                                        <span class="icon"><img src="" /></span>
                                        <span class="text">Zarządzaj Rolami</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="app-header">
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="nav-left-toggle">
                    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#nav-left">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="navbar-brand" style="padding-left:20px;">MultiSMS</span>
                </div>
                <div class="account-settings d-sm-inline-flex justify-content-between">
                 <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
