@page
@model ChangePasswordOnLogin
@{
    ViewData["Title"] = "Zmień hasło";
}

<style>
    .toolbar-left {
        display: none;
    }

    .navbar {
        display: none;
    }

    .layout-render-body {
        background-color: transparent;
        box-shadow: none;
    }

</style>

<div class="single-windows-container">
    <div class="credentials-container">
        <partial name="_StatusMessage" for="StatusMessage" />
        <section>
            <form id="firstLoginPasswordChangeForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <span class="form-subtitle">Zmiana hasła jednorazowego</span>
                <div style="margin-top:20px;">
                    <label asp-for="Input.OldPassword" class="form-label">Hasło jednorazowe</label>
                    <div class="password-input-container">
                        <input asp-for="Input.OldPassword" class="form-input" id="old-password" type="password" autocomplete="username" aria-required="true" placeholder="Wprowadź hasło jednorazowe" required />
                        <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon-old-password" alt="Toggle Password Visibility" onclick="togglePasswordVisibilityForChangeOn1stOld()">
                    </div>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Nowe hasło</label>
                    <div class="password-input-container">
                        <input asp-for="Input.Password" class="form-input" id="new-password" type="password" autocomplete="new-password" style="padding-right:30px;" aria-required="true" placeholder="Wprowadź hasło" required />
                        <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon-new-password" alt="Toggle Password Visibility" onclick="togglePasswordVisibilityForChangeOn1stNew()">
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="display:flex; justify-content:center; width:100%;">
                    <button id="change-password-on-first-submit" type="submit" class="violet-button mb-2" style="width:100%; display:flex; justify-content:center; font-size:19px; height:44px;">Zmień hasło</button>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    function togglePasswordVisibilityForChangeOn1stOld() {
        var passwordInput = document.getElementById('old-password');
        var eyeIcon = document.getElementById('eye-icon-old-password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    function togglePasswordVisibilityForChangeOn1stNew() {
        var passwordInput = document.getElementById('new-password');
        var eyeIcon = document.getElementById('eye-icon-new-password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }



    $("#old-password").on('input', function () {
        if ($("#old-password").val().length > 0) {
            $("#eye-icon-old-password").css('display', 'block')
        };
    });

    $("#new-password").on('input', function () {
        if ($("#new-password").val().length > 0) {
            $("#eye-icon-new-password").css('display', 'block')
        };
    });
</script>