@page
@model ChangePasswordOnLogin
@{
    Layout = "~/Views/Shared/_SingleWindowLayout.cshtml";
    ViewData["Title"] = "Zmień hasło";
}

<div class="single-windows-container">
    <div class="credentials-container">
        <div class="window-header">
            <div class="left">
                <span>Zmiana hasła jednorazowego</span>
            </div>
        </div>
        <partial name="_StatusMessage" for="StatusMessage" />
        <section>
            <form id="firstLoginPasswordChangeForm" method="post" style="padding: 15px 30px;">
                <div asp-validation-summary="ModelOnly" class="text-danger model-alert-font" role="alert"></div>
                <div>
                    <label asp-for="Input.OldPassword" class="form-label">Hasło jednorazowe
                        <div class="password-input-container">
                            <input asp-for="Input.OldPassword" class="form-input" id="old-password" type="password" autocomplete="username" aria-required="true" placeholder="Wprowadź hasło jednorazowe" autocomplete="off" required />
                            <div onclick="togglePasswordVisibilityForChangeOn1stOld()">
                                <img src="icons/closed-eye.png" class="input-icons" id="eye-icon-old-password" alt="Toggle Password Visibility">
                            </div>
                        </div>
                    </label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Nowe hasło
                        <div class="password-input-container">
                            <input asp-for="Input.Password" class="form-input" id="new-password" type="password" autocomplete="new-password" style="padding-right:30px;" aria-required="true" placeholder="Wprowadź hasło" autocomplete="off" required style="margin: 0;" />
                            <div onclick="togglePasswordVisibilityForChangeOn1stNew()">
                                <img src="icons/closed-eye.png" class="input-icons" id="eye-icon-new-password" alt="Toggle Password Visibility">
                            </div>
                        </div>
                    </label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="display:flex; justify-content:center; width:100%;">
                    <button id="change-password-on-first-submit" type="submit" class="violet-button violet-button-small mb-2" style="width:50%; display:flex; justify-content:center; font-size:17px;">Zmień hasło</button>
                </div>
            </form>
        </section>
    </div>
</div>


<script>
    function togglePasswordVisibilityForChangeOn1stOld() {
        var passwordInput = document.getElementById('old-password');
        var eyeIcon = document.getElementById('eye-icon-old-password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "icons/closed-eye.png";
        }
    }

    function togglePasswordVisibilityForChangeOn1stNew() {
        var passwordInput = document.getElementById('new-password');
        var eyeIcon = document.getElementById('eye-icon-new-password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "icons/closed-eye.png";
        }
    }



    $("#old-password").on('input', function () {
        if ($("#old-password").val().length > 0) {
            $("#eye-icon-old-password").css('display', 'block')
        };
    });

    $("#new-password").on('input', function () {
        if ($("#new-password").val().length > 0) {
            $("#eye-icon-new-password").css('display', 'block')
        };
    });
</script>