@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="credentials-container">
    <div class="option-name mb-3">
        <span>Zapomniałeś hasła?</span>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="Wprowadź adres email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="violet-button mb-2" style="width:100%; display:flex; justify-content:center; font-size:19px; height:44px;">Zresetuj hasło</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .toolbar-left {
        display: none;
    }

    .navbar {
        display: none;
    }

    .layout-render-body {
        background-color: transparent;
        box-shadow: none;
    }

</style>
