@page
@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_SingleWindowLayout.cshtml";
    ViewData["Title"] = "Przypomnij hasło";
}

<div class="single-windows-container">
    <div class="credentials-container">
        <div class="window-header">
            <div class="left">
                <span>Zapomniałeś hasła?</span>
            </div>
        </div>
        <form method="post" style="padding: 15px 30px 15px 30px;">
            <div asp-validation-summary="ModelOnly" class="text-danger model-alert-font" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="Wprowadź adres email" style="margin: 0;" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="display:flex; justify-content:center; width:100%; margin-top: 20px;">
                <button type="submit" class="violet-button violet-button-small mb-2" style="width:50%; display:flex; justify-content:center; font-size:17px;">Zresetuj hasło</button>
            </div>
        </form>
    </div>
</div>
