@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj sie";
}
<div class="single-windows-container">
    <div class="credentials-container">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger model-alert-font" role="alert"></div>
                <div>
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="Wprowadź adres email" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <div class="password-input-container">
                        <input asp-for="Input.Password" class="form-input" id="password-input" autocomplete="current-password" style="padding-right:30px;" aria-required="true" placeholder="Wprowadź hasło" required />
                        <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon" alt="Toggle Password Visibility" onclick="togglePasswordVisibility()">
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div>
                        <p style="float:right;">
                            <a class="bleak-hoverable" id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                        </p>
                    </div>
                </div>
                <div style="display:flex; justify-content:center; width:100%;">
                    <button id="login-submit" type="submit" class="violet-button mb-2" style="width:100%; display:flex; justify-content:center; font-size:19px; height:44px;">Zaloguj się</button>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .toolbar-left{
        display:none;
    }
    .navbar{
        display:none;
    }

    .layout-render-body{
        background-color:transparent;
        box-shadow:none;
    }
</style>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password-input');
        var eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    $("#password-input").on('input', function () {
        if ($("#password-input").val().length > 0) {
            $("#eye-icon").css('display', 'block')
        }
        else {
            if ($("#password-input").attr('type') == "text") {
                $("#eye-icon").click().hide();
            }
            else {
                $("#eye-icon").hide();
            }
        }
    });

</script>
