@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Zresetuj hasło";
}

<div class="single-windows-container">
    <div class="credentials-container" style="width: 26vw;">
        <section>
            <form id="reset-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger model-alert-font" role="alert"></div>
                <div>
                    <div>
                        <input asp-for="Input.Code" type="hidden" />
                    </div>
                    <div>
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <input asp-for="Input.Email" class="form-input" autocomplete="username" aria-required="true" placeholder="Wprowadź adres email" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Hasło</label>
                        <div class="password-input-container">
                            <input asp-for="Input.Password" class="form-input" id="password-input" autocomplete="new-password" aria-required="true" placeholder="Wpowadź nowe hasło" required/>
                            <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon" alt="Toggle Password Visibility" onclick="togglePasswordVisibility()">
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div style="display:flex; justify-content:center; width: 100%;">
                    <button id="reset-password-submit" type="submit" class="violet-button mb-2" style="width:100%; display:flex; justify-content:center; font-size:19px; height:44px;">Zresetuj hasło</button>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .toolbar-left {
        display: none;
    }

    .navbar {
        display: none;
    }

    .layout-render-body {
        background-color: transparent;
        box-shadow: none;
    }
</style>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password-input');
        var eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    $("#password-input").on('input', function () {
        if ($("#password-input").val().length > 0) {
            $("#eye-icon").css('display', 'block')
        };
    });
</script>