html {
    font-size: 14px;
    font-size: 16px;
    background: url(../bg/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    
}


.options-container {
    display: flex;
    justify-content: center;
    margin: 20px
}

.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    min-height: 44px;
    align-items: center;
}

.ie-button {
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 5px;
    padding:10px;
    border: 2px solid #d7dadf;
    background-color: #ffffff;
    color: #54637e;
    border: 2px solid #d7dadf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 49px;
}
.ie-button:focus {
    border: 2px solid #6f5cc4;
    outline: none;
}

.form-subtitle {
    color: #5a6372;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.option-name {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #606060;
}

.option-name-assign {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: rgb(96, 96, 96);
    background-color: white;
    border-radius: 5px;
    padding: 7.5px;
    border: 2px solid rgb(215, 218, 223);
}

.list-header-left {
    display: flex;
}

.list-container {
    margin: 20px;
}

.list-content {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #f0f1f1;
}

.option-content {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #f0f1f1;
    max-width: 550px;
    min-width: 307px;
    width:100%
}

.active-pill {
    border-radius: 90px;
    background-color: #d2ebd3;
    color: #6eb171;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding:4px 16.48px;
}

.inactive-pill {
    width: 90px;
    border-radius: 90px;
    background-color: #f5d0cd;
    color: #d5675d;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 4px;
}

.check-input{
    margin-right:5px;
}

tr td {
    border-top: none;
    border-bottom: none;
}


.table td {
    vertical-align: middle;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav {
    display: block;
}

body {
    margin-bottom: 60px;
    background-color: transparent;
}

.options-list-left {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.options-header {
    display: flex;
    padding: 30px 30px 0px 30px;
    align-items: center;
}

.option-list-item {
    border-left: thick solid transparent;
    padding: 0px;
}

.active-tab {
    border-left: thick solid white;
    background-color: #7e6cca;
}

.option-list-item:hover {
    background-color: #7e6cca;
    text-decoration: none;
}

.option-list-item:active {
    border-left: thick solid white;
    background-color: #7e6cca;
}

.link {
    display: flex;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    align-items: center;
}

.form-input {
    border-radius: 4px;
    margin-bottom: 10px;
    min-height: 44px;
    border: 3px solid #f0f1f1;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%
}

.form-input:focus {
    border: 3px solid #6f5cc4;
    outline: none;
}

label {
    color: #5a6372;
    font-family: 'Open Sans', sans-serif;
}

.previous-page {
    display: flex;
    align-items: center;
}

.options-form {
    padding: 30px;
}

.search-for {
    border-radius: 5px;
    border: 2px solid #d7dadf;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #5b6372;
    height: 49px;
    width: 20vw;
    background-image: url(../icons/search-bar.png);
    background-position: 3% 55%;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-left: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-for:focus {
    border: 2px solid #6f5cc4;
    outline: none;
}

.violet-button {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background-color: #6f5cc4;
    padding: 10px;
    color: #f0eef9;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    height: 49px;
    display: flex;
    align-items: center;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.violet-button:focus {
    border: 2px solid black;
    outline: none;
}

.tiny-centered-cell {
    max-width: 3vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 112px;
    text-align: center;
}

.centered-cell {
    max-width: 4vw;
    text-align: center;
    min-width: 150px;
}

.tiny-cell {
    max-width: 3vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 80px;
}

.small-cell {
    max-width: 6vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 150px;
}

.medium-cell {
    max-width: 10vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 200px;
}

.big-cell {
    max-width: 15vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 250px;
}

.text-nav {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

tbody {
    color: #5a6372;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
}

.table thead th {
    color: #99a1af;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.text-nav:hover {
    cursor: default;
    text-decoration: none;
}


.link:visited {
    text-decoration: none;
}


.link:active {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    cursor: default;
}

.icon {
    max-width: 22px;
    display: inline-block;
    margin-right: 13px;
    
}

.icon-list {
    max-width: 32px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    object-fit:cover;
}

img {
    max-width: 100%;
    height: auto;
}

.main-window {
    width: 100%;
    height: 100%;
    margin: 20px;
    margin-top: 60px;
    max-width:98vw;
}

.layout-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toolbar-left {
    min-width: 175px;
    width: 13vw;
    background-color: #6f5cc4;
    box-shadow: 2px 0px 10px grey
}

.layout-render-body {
    width: 65vw;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 10px grey;
    max-height:79vh;
    overflow: auto;
}

.layout-content {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.navbar {
    min-height: 60px;
    width: 78vw;
    height: 7vh;
    background-color: #504190;
}

.logo-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.tab-pane {
    padding: 10px;
}

.content {
    width: 100%;
    min-width: 250px;
    padding-left: 15px;
}


.form-row {
    width: 100%;
}



.select-template-containter {
    padding-bottom: 10px;
}

#templateSelectEdit {
    width: 89%;
    margin-right: 18px;
}

.content-container {
    margin: 0px;
}

.app-header {
    box-shadow: 2px 4px 10px grey
}