html {
    font-size: 14px;
    font-size: 16px;
    background: url(../bg/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav{
    display: block;
}
body {
    margin-bottom: 60px;
    background-color: transparent;
}

.options-list-left {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.option-list-item {
    border-left: thick solid transparent;
    padding: 0px;

}

.active-tab {
    border-left: thick solid white;
    background-color: #7e6cca;
}

.option-list-item:hover {
    background-color: #7e6cca;
    text-decoration: none;
}

.option-list-item:active {
    border-left: thick solid white;
    background-color: #7e6cca;
}

.link {
    display: flex;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
}

.text-nav {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.text-nav:hover {
    cursor: default;
    text-decoration: none;
}


.link:visited {
    text-decoration: none;
}


.link:active {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    cursor: default;
}

svg {
    max-width: 32px;
    max-height:32px;
}
.icon {
    max-width: 32px;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.main-window {
    width: 100%;
    height: 100%;
    margin: 20px;
    margin-top: 60px;
}

.layout-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toolbar-left {
    min-width: 175px;
    width: 13vw;
    background-color: #6f5cc4;
} 

.layout-render-body {
    width: 65vw;
    background-color: white;
}

.layout-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar {
    width: 78vw;
    height: 7vh;
    background-color: #504190;
}

.logo-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.tab-pane {
    padding: 10px;
}

.content {
    width: 100%;
    min-width: 250px;
    padding-left: 15px;
}


.form-row {
    width: 100%;
}


.select-template-containter {
    padding-bottom: 10px;
}

#templateSelectEdit {
    width: 89%;
    margin-right: 18px;
}