@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <ul class="nav nav-tabs" id="master-card-header-tabs" role="list">
        <li class="nav-item">
            <a class="nav-link active" id="sms-tab" href="#sms" aria-controls="sms" aria-selected="true">SMS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contacts-tab" href="#contacts" aria-controls="contacts" aria-selected="false">Kontakty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="groups-tab" href="#groups" aria-controls="groups" aria-selected="false">Grupy kontaktów</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="role-tab" href="#role" aria-controls="role" aria-selected="false">Role kontaktów</a>
        </li>
    </ul>
    <div class="tab-content" id="category-tab-content">
        <div class="tab-pane show active" id="sms" aria-labelledby="sms-tab">
            <div class="d-flex sms-container">
                <ul class="options-list nav" id="sms-options-list" role="list">
                    <li class="sms-options-item nav-item selected-sms send-sms-item">
                        <a id="send-sms-tab" href="#send-sms">
                            <span class="option-icon"><img src="icons/message-arrow-up-right.png"/></span>
                            <span class="text">Wyślij wiadomość SMS</span>
                        </a>
                    </li>
                    <li class="sms-options-item nav-item">
                        <a id="check-sms-logs-tab" href="#check-sms-logs">
                            <span class="option-icon"><img src="icons/search-alt.png"/></span>
                            <span class="text">Przeglądaj logi</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="browse-sms-templates-tab" href="#browse-sms-templates">
                            <span class="option-icon"> <img src="icons/template.png"/></span>
                            <span class="text">Przeglądaj szablony</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="add-sms-template-tab" href="#add-sms-template">
                            <span class="option-icon"> <img src="icons/add-document.png"/></span>
                            <span class="text">Dodaj szablon</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="edit-sms-template-tab" href="#edit-sms-template">
                            <span class="option-icon"><img src="icons/file-edit.png"/></span>
                            <span class="text">Edytuj szablon</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="delete-sms-template-tab" href="#delete-sms-template">
                            <span class="option-icon"><img src="icons/delete-document.png"/></span>
                            <span class="text">Usuń szablon</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content content" id="sms-tab-content">
                    <div class="tab-pane active" id="send-sms">
                        Wyślij SMS
                    </div>
                    <div class="tab-pane" id="check-sms-logs">
                        Przeglądaj Logi
                    </div>
                    <div class="tab-pane" id="browse-sms-templates">
                        Przeglądaj szablony
                    </div>
                    <div class="tab-pane" id="add-sms-template">
                        <form>
                            <div class="form-group">
                                <label for="TemplateName">Nazwa szablonu</label>
                                <input type="text" class="form-control" id="templateNameInput" placeholder="Przykładowy Szablon" required />
                            </div>
                            <div class="form-group">
                                <label for="TemplateDescription">Opis</label>
                                <input type="text" class="form-control" id="templateDescriptionInput" placeholder="Szablon przeznaczony jest dla..." />
                            </div>
                            <div class="form-group">
                                <label for="TemplateContent">Treść wiadomości</label>
                                <textarea class="form-control" id="templateContentInput" rows="5" maxlength="255" placeholder="W związku z przygotowaniami do..." required></textarea>
                                <div style="margin-top: 0.25rem; text-align: right" id="symbolCounter">0/255</div>
                            </div>
                            <div class="justify-content-center d-flex">
                                <button type="submit" class="btn btn-primary" id="createNewTemplateSubmitButton">Utwórz nowy szablon</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="edit-sms-template">
                        Edytuj szablon
                    </div>
                    <div class="tab-pane" id="delete-sms-template">
                        Usuń szablon
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="contacts">
            <div class="d-flex contacts-container">
                <ul class="options-list nav" id="contacts-options-list" role="list">
                    <li class="sms-options-item nav-item selected-contacts browse-contacts-item">
                        <a id="send-sms-tab nav-link" href="#browse-contacts">
                            <span class="option-icon"><img src="icons/file-user.png" /></span>
                            <span class="text">Przeglądaj kontakty</span>
                        </a>
                    </li>
                    <li class="sms-options-item nav-item">
                        <a id="check-sms-logs-tab nav-link" href="#add-contact">
                            <span class="option-icon"><img src="icons/user-add.png" /></span>
                            <span class="text">Dodaj kontakt</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="browse-sms-templates-tab" href="#edit-contact">
                            <span class="option-icon"> <img src="icons/user-pen.png" /></span>
                            <span class="text">Edytuj kontakt</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="add-sms-template-tab" href="#delete-contact">
                            <span class="option-icon"> <img src="icons/delete-user.png" /></span>
                            <span class="text">Usuń kontakt</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content content" id="contacts-tab-content">
                    <div class="tab-pane active" id="browse-contacts">
                        Przeglądaj kontakty
                    </div>
                    <div class="tab-pane" id="add-contact">
                        Dodaj kontakt
                    </div>
                    <div class="tab-pane" id="edit-contact">
                        Edytuj kontakt
                    </div>
                    <div class="tab-pane" id="delete-contact">
                        Usuń kontakt
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="groups">
            <div class="d-flex groups-container">
                <ul class="options-list nav" id="groups-options-list" role="list">
                    <li class="sms-options-item nav-item selected-groups browse-groups-item">
                        <a id="browse-groups-tab nav-link" href="#browse-groups">
                            <span class="option-icon"><img src="icons/recruitment.png" /></span>
                            <span class="text">Przeglądaj grupy</span>
                        </a>
                    </li>
                    <li class="sms-options-item nav-item">
                        <a id="add-group-tab nav-link" href="#add-group">
                            <span class="option-icon"><img src="icons/users-medical.png" /></span>
                            <span class="text">Dodaj grupę</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="edit-group-tab" href="#edit-group">
                            <span class="option-icon"> <img src="icons/exchange.png" /></span>
                            <span class="text">Edytuj grupę</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="remove-group-tab" href="#delete-group">
                            <span class="option-icon"> <img src="icons/users-slash.png" /></span>
                            <span class="text">Usuń grupę</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content content" id="groups-tab-content">
                    <div class="tab-pane active" id="browse-groups">
                        Przeglądaj grupy
                    </div>
                    <div class="tab-pane" id="add-group">
                        Dodaj grupę
                    </div>
                    <div class="tab-pane" id="edit-group">
                        Edytuj grupę
                    </div>
                    <div class="tab-pane" id="delete-group">
                        Usuń group
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="role">
            <div class="d-flex groups-container">
                <ul class="options-list nav" id="roles-options-list" role="list">
                    <li class="sms-options-item nav-item selected-roles browse-roles-item">
                        <a id="browse-roles-tab nav-link" href="#browse-roles">
                            <span class="option-icon"><img src="icons/id-card.png" /></span>
                            <span class="text">Przeglądaj role</span>
                        </a>
                    </li>
                    <li class="sms-options-item nav-item">
                        <a id="add-group-tab nav-link" href="#add-role">
                            <span class="option-icon"><img src="icons/add.png" /></span>
                            <span class="text">Dodaj rolę</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="edit-group-tab" href="#edit-role">
                            <span class="option-icon"> <img src="icons/pen-circle.png" /></span>
                            <span class="text">Edytuj rolę</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a id="remove-group-tab" href="#delete-role">
                            <span class="option-icon"> <img src="icons/minus-circle.png" /></span>
                            <span class="text">Usuń rolę</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content content" id="roles-tab-content">
                    <div class="tab-pane active" id="browse-roles">
                        Przeglądaj role
                    </div>
                    <div class="tab-pane" id="add-role">
                        Dodaj rolę
                    </div>
                    <div class="tab-pane" id="edit-role">
                        Edytuj rolę
                    </div>
                    <div class="tab-pane" id="delete-role">
                        Usuń rolę
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>

    function CreateNewTemplate() {
        let name = $("#templateNameInput").val();
        let description = $("#templateDescriptionInput").val();
        let content = $("#templateContentInput").val();
        console.log(name);
        console.log(description);
        console.log(content);


        $.ajax({
            url: '@Url.Action("CreateNewTemplate", "Home")',
            type: 'GET',
            contentType: 'application/json',
            data: {templateName: name, templateDescription: description, templateContent: content},
            success: function (templateEnitity) {

            },
            error: function (error) {
                console.error(error);
            }
        })
    }

    $(document).ready(function () {

        $("#createNewTemplateSubmitButton").click(function (e) {
            CreateNewTemplate();
        });

        const messageEle = document.getElementById('templateContentInput');
        const counterEle = document.getElementById('symbolCounter');

        messageEle.addEventListener('input', function (e) {
            const target = e.target;
            const maxLength = target.getAttribute('maxlength');
            const currentLength = target.value.length;

            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });

        $('#master-card-header-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#sms-options-list a').on('click', function (e) {
            $(".selected-sms").removeClass("selected-sms");
            e.preventDefault();
            $(this).tab('show');
            $(this).parent().toggleClass('selected-sms');
        });
        $('#contacts-options-list a').on('click', function (e) {
            $(".selected-contacts").removeClass("selected-contacts");
            e.preventDefault();
            $(this).tab('show');
            $(this).parent().toggleClass('selected-contacts');
        });
        $('#groups-options-list a').on('click', function (e) {
            $(".selected-groups").removeClass("selected-groups");
            e.preventDefault();
            $(this).tab('show');
            $(this).parent().toggleClass('selected-groups');
        });
        $('#roles-options-list a').on('click', function (e) {
            $(".selected-roles").removeClass("selected-roles");
            e.preventDefault();
            $(this).tab('show');
            $(this).parent().toggleClass('selected-roles');
        });
    });
</script>

<style>
    .content{
        padding-left: 20px;
    }
    .text{
        color:black;

    }
    .selected-sms{
        border:thin inset black!important;
        background-color:white!important;
        border-right:none!important;
    }

    .selected-contacts {
        border: thin inset black !important;
        background-color: white !important;
        border-right: none !important;
    }
    .selected-groups{
        border:thin inset black!important;
        background-color:white!important;
        border-right:none!important;
    }

    .selected-roles {
        border: thin inset black !important;
        background-color: white !important;
        border-right: none !important;
    }
    .options-list{
        list-style-type: none;
        margin-bottom: 0px;
        text-align: left;
        max-width: 275px;
    }
    .sms-options-item{
        padding: 15px;
        border: thin solid #dfdfdf;
        width: 100%;
        background-color: #00000003;
    }
    .text{
        font-weight: bold ;
        font-family: sans-serif
    }
    .tab-pane{
        padding: 10px;
        min-width:400px;
    }
    .content{
        width: 100%;
    }
    .option-icon{
        max-width: 37px;
        display: inline-block;
        padding: 5px;
    }
    .form-row{
        width:100%;
    }
    label{
        font-weight: 600;
    }
    .form-control{
        background-color: #00000003;
    }
</style>
