@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <ul class="nav nav-tabs" id="master-card-header-tabs" role="list">
        <li class="nav-item">
            <a class="nav-link" id="sms-tab" href="#sms" aria-controls="sms" aria-selected="true">SMS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contacts-tab" href="#contacts" aria-controls="contacts" aria-selected="false">Kontakty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="groups-tab" href="#groups" aria-controls="groups" aria-selected="false">Grupy kontaktów</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="role-tab" href="#role" aria-controls="role" aria-selected="false">Role kontaktów</a>
        </li>
    </ul>
    <div class="tab-content" id="category-tab-content">
        <div class="tab-pane" id="sms" aria-labelledby="sms-tab" style="display: flex;">
            <div class="card text-center card-options-sms" id="sms-options">
                <ul class="options-list" id="sms-options-list">
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Wyślij wiadomość SMS</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Przeglądaj logi</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Przeglądaj szablony</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Dodaj szablon</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Edytuj szablon</span>
                        </a>
                    </li>
                    <li class="sms-options-item">
                        <a>
                            <span class="icon" src=""></span>
                            <span class="text">Usuń szablon</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card" id="sms-option-content" style="width:100%;">
                <h1>content baby</h1>
            </div>
        </div>
    </div>
</div>

<script defer>

    $(document).ready(function () {

        $('#master-card-header-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>

<style>
    .tab-pane{
        display: flex;
    }
    .options-list{
        padding: 5px;
        list-style-type: none;
        margin-bottom: 0px;
        text-align: left;
    }
    .sms-options-item{
        padding: 15px;
        border: thin solid #dfdfdf;
        width: 100%;
        background-color: #fafafa;
    }
    .card-options-sms{
        width: 300px;
    }
    .text{
        font-weight: bold ;
        font-family: sans-serif
    }
</style>
