@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<script>
    function CalculateHeaderWidthAndToolbarHeight() {

        const sidebar = document.getElementById('toolbar-user-settings');
        const header = document.getElementById('main-header');
        const renderedContent = document.getElementById('content-render');

        header.style.width = `${renderedContent.offsetWidth + 50}px`;

        renderedContent.style.height = 'auto';
        sidebar.style.height = `auto`;

        if (renderedContent.offsetHeight > sidebar.offsetHeight) {
            sidebar.style.height = `${renderedContent.offsetHeight}px`;
        }
        else {
            renderedContent.style.height = `${sidebar.offsetHeight}px`
        }

    }



    $(document).ready(function () {
        CalculateHeaderWidthAndToolbarHeight();


        var initialToolboxContextWidthInPx = 50;
        var hoveredWidthInPx = 201;

        $(".option-list-item").hover(
            function () {
                $("#toolbar-user-settings").css("width", hoveredWidthInPx + "px");
            },
            function () {
                $("#toolbar-user-settings").css("width", initialToolboxContextWidthInPx + "px");
            }
        );

        window.addEventListener('resize', () => {
            CalculateHeaderWidthAndToolbarHeight();
        });
    })
</script>
