@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<script>
    function CalculateHeaderWidthForProfile() {
        const sidebar = document.getElementById('toolbar-user-settings');
        const header = document.getElementById('main-header');
        const renderedContent = document.getElementById('content-render');

        header.style.width = `${sidebar.offsetWidth + renderedContent.offsetWidth}px`;
    }



    $(document).ready(function () {
        CalculateHeaderWidthForProfile();


        var initialRenderContentWidthInVW = ($("#content-render").width() / $(window).width()) * 100;
        var initialToolboxContextWidthInPx = 50;
        var hoveredWidthInPx = 190;
        var hoveredWidthInVW = (190 / $(window).width()) * 100;
        var differenceInVW = hoveredWidthInVW - (50 / $(window).width()) * 100;

        $(".option-list-item").hover(
            function () {
                $("#toolbar-user-settings").css("width", hoveredWidthInPx + "px");
                $("#content-render").css("width", (initialRenderContentWidthInVW - differenceInVW) + "vw");
            },
            function () {
                $("#toolbar-user-settings").css("width", initialToolboxContextWidthInPx + "px");
                $("#content-render").css("width", initialRenderContentWidthInVW + "vw");
            }
        );

        window.addEventListener('resize', () => {
            CalculateHeaderWidthForProfile();
        });
    })
</script>
