@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="admin-password options-container">
    <div class="option-content">
        <form class="options-form" id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div style="margin-bottom:20px; margin-top: 20px">
                <span class="form-subtitle">Zmień hasło</span>
                <div class="form-group" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col">
                            <label asp-for="Input.OldPassword" class="form-label">Obecne hasło</label>
                            <div class="password-input-container">
                                <input asp-for="Input.OldPassword" class="form-input" id="AdminOldPassword" autocomplete="current-password" style="padding-right:30px;" aria-required="true" placeholder="Wprowadź hasło" required />
                                <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon-old" alt="Toggle Password Visibility" onclick="togglePasswordVisibilityForOldPassword()">
                            </div>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Input.NewPassword" class="form-label">Nowe Hasło</label>
                            <div class="password-input-container">
                                <input asp-for="Input.NewPassword" id="AdminNewPassword" class="form-input" id="password-input" autocomplete="new-password" style="padding-right:30px;" aria-required="true" placeholder="Proszę podać nowe hasło" required maxlength="40" title="Hasło musi zawierać: jedną cyfrę, jeden znak specjalny oraz jedną dużą literę" />
                                <img src="~/icons/closed-eye.png" class="input-icons" id="eye-icon-new" alt="Toggle Password Visibility" onclick="togglePasswordVisibilityForNewPassword()">
                            </div>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-center d-flex" style="margin-top: 20px;">
                <button type="submit" class="violet-button" style="width:100%;">Zatwierdź zmianę hasła</button>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePasswordVisibilityForOldPassword() {
        var passwordInput = document.getElementById('AdminOldPassword');
        var eyeIcon = document.getElementById('eye-icon-old');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    function togglePasswordVisibilityForNewPassword() {
        var passwordInput = document.getElementById('AdminNewPassword');
        var eyeIcon = document.getElementById('eye-icon-new');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    $("#toolbar").hide();
    $("#toolbar-user-settings").show();
    $(".active-tab").removeClass("active-tab");
    $("#password-tab").parent().toggleClass("active-tab");

    $(document).ready(function () {

        $("#AdminOldPassword").on('input', function () {
            if ($("#AdminOldPassword").val().length > 0) {
                $("#eye-icon-old").css('display', 'block')
            };
        });

        $("#AdminNewPassword").on('input', function () {
            if ($("#AdminNewPassword").val().length > 0) {
                $("#eye-icon-new").css('display', 'block')
            };
        });
    });

    
</script>

