@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<partial name="_StatusMessage" for="StatusMessage" />

<div class="admin-email options-container">
    <div class="option-content">
        <form class="options-form" id="update-admin-email" method="post">
            <div style="margin-bottom:20px;">
                <span class="form-subtitle">Zmień adres e-mail</span>
                <div class="form-group" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col">
                            <label for="AdminEmail">Obecny email</label>
                            <input asp-for="Email" type="text" class="form-input" id="AdminEmail" required maxlength="30" placeholder="Proszę podać swój obecny adres e-mail">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="AdminNewEmail">Nowy email</label>
                            <input asp-for="Input.NewEmail" class="form-input" id="AdminNewEmail" autocomplete="email" aria-required="true" placeholder="Proszę podać nowy adres email" required maxlength="30" />
                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-center d-flex" style="margin-top: 20px;">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="violet-button" style="width:100%;">Zmień maila</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#toolbar").hide();
    $("#toolbar-user-settings").show();
    $(".active-tab").removeClass("active-tab");
    $("#email-tab").parent().toggleClass("active-tab");
</script>

